@import '../font.scss';
@import '../variables';

.Container {
  display: flex;
  flex-direction: column;
  height:100%;
}

main {
    @include font-main-text;

    .cardTitle {
        @include font-main-title;
    }
}

/* Partie Tablette*/
  @media (min-width: 768px) {
    .accordion {
        width: 80%;
    }
  }