@import '../font.scss';
@import '../variables';
 @import '~bootstrap/scss/bootstrap';

.contenairFooter {
    @include font-main-text;

    .cardContact {
            .contactTitle .linkTitle .portfolioTitle {
        @include font-main-title;
    }
    }

        .footerText {
        @include font-main-text;

        &:hover {
            font-weight: bold !important;
        }
    }
        .cardIcon {
        width: 60%;

        .icon {
            fill: currentColor;
            transition: fill 0.2s ease-in-out;
            cursor: pointer;

               &:hover {
            color: white  !important; 
          }
        }

     
}  
}