@import '../font.scss';
@import '../variables';
 @import '~bootstrap/scss/bootstrap';

.titleMenu {
  @include font-main-title;
  text-align: center;
  padding-left: 20px;
}


/* Partie Mobile*/
.cardBurgerMenu   {
  .burgerList  {
  @include font-main-title;

    .active-link {
      text-decoration: underline;
      text-decoration-color: $light;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }
  }
}


/* Partie Desktop*/
.listMenu {
  @include font-main-title;

  .nav-link {
    font-weight: 400; 
    transition: all 0.2s ease-in-out;
  }

  .active-link {
    text-decoration: underline;
    text-decoration-color: $light;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    font-weight: 900; 
  }
}