@import '../font.scss';
@import '../variables';

.titleMenu {
  @include font-main-title;
}


/* Partie Mobile*/
.cardBurgerMenu   {
  .burgerList  {
  @include font-main-title;

    .active-link {
      text-decoration: underline;
      text-decoration-color: $light;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }
  }
}

/* Partie Tablette*/
  @media (min-width: 768px) {
  .cardMenu {

    .titleMenu {
      @include font-main-title;
      font-size: 0.7rem;
    }

    .listMenu {
    @include font-main-title;
   
        .nav-link {
        transition: all 0.2s ease-in-out;
        font-size: 0.5rem;
        padding: 5px;


      &:hover {
          text-decoration: underline;
          text-decoration-color: $light;
          text-decoration-thickness: 1px;
          text-underline-offset: 3px;
        }
      }

      .active-link {
        text-decoration: underline;
        text-decoration-color: $light;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
        font-weight: 900; 
      }
    }
  }
}


/* Partie Desktop*/
@media (min-width: 1024px) {
  .cardMenu {
    .titleMenu {
      @include font-main-title;
      font-size: 1.3rem;
    }

    .listMenu {
        .nav-link {
        transition: all 0.2s ease-in-out;
        font-size: 1rem;
        padding: 5px;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $light;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
      }
    }

    .active-link {
      text-decoration: underline;
      text-decoration-color: $light;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
      font-weight: 900; 
    }
  }
}
}
